<div class="fade-in db pv4 ph3 ph0-l no-underline black">

  <div class="flex flex-column flex-row-ns">

    <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
      <img src={{mainImage}} class="db w-100 t-article-image" alt={{article.title}}>
    </div>

    <div class="w-100 w-60-ns pl3-ns">
      <h1 class="f3 fw1 georgia mt0 lh-title t-title">{{article.title}}</h1>

      <p class="f6 lh-copy mv0 t-author gray">By {{article.author}}</p>

      {{#if expandable}}

        {{#liquid-if showAll}}

          <p class="f6 f5-l lh-copy t-text">
            {{article.text}}
          </p>
          <div class="f7 fr t-toggle-text gold pointer bg-animate bg-white hover-bg-gold black w-30-ns pa1-ns tc-ns hover-white" onclick={{action toggleText}}>
            Show Less {{fa-icon 'chevron-circle-up'}}
          </div>

        {{else}}

          <p class="f6 f5-l lh-copy t-truncated-text">
            {{truncatedText}}
          </p>
          <div class="f7 fr t-toggle-text gold pointer bg-animate bg-white hover-bg-gold black w-30-ns pa1-ns tc-ns hover-white" onclick={{action toggleText}}>
            Show More {{fa-icon 'chevron-circle-down'}}
          </div>

        {{/liquid-if}}

      {{else}}

        <p class="f6 f5-l lh-copy t-text">
          {{article.text}}
        </p>

      {{/if}}

    </div>

  </div>

</div>
