<div class="flex">

  <ul class="flex-auto list br b--light-gray">

    {{#each model as |book index|}}

      <li data-test-book={{index}} class="pa3">

        {{#link-to 'books.book-details' book.id class="link"}}

          {{draft-indicator book=book}}

          <p class="b" data-test-title={{index}}>
            {{book.title}}
          </p>

        {{/link-to}}

        <p class="f6 silver" data-test-description={{index}}>
          {{book.description}}
        </p>

      </li>

    {{/each}}

  </ul>

  <div class="flex-auto">
    {{outlet}}
  </div>

</div>
